<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src=" https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta charset=utf-8>
<title>document</title>
</head>
<body >
<script>
    $("body").keyup(function(){
        var search = $("#search").html();
         console.log(search);
    })
    
var asd = angular.module('myApp',[]);

asd.controller('myCtrl', function($scope,$http) {
   $http.get("friends.json").then(function(res){
       $scope.friends = res.data;
   })
});
   

    
    
   
</script>
<div class="jumbotron" style="text-align:center"> 
    <h1>AngularJs JSON Data Search</h1>
    <p>
        <a href="/join" class="btn btn-primary">
        <span class="glyphicon glyphicon-user "></span>
        Join
        </a>
    </p>
</div>

<div ng-app="myApp" ng-controller="myCtrl">
<form>
    <div class="form-group" >
         <input type="text" ng-model="name" class="form-control">
    </div>
</form>
<table class="table table-bordered">
    <tr ng-repeat="frend in friends"  ng-if="frend.name.match(name)">
       <td>{{frend.name}}</td>
       <td>{{frend.birth}}</td>
       <td>{{frend.phone}}</td>
       <td>{{frend.email}}</td>
    </tr>
</table>
</div>




</body>
</html>

